<!doctype html>
<html>
<head>
  <title>{{ config.TITLE }} - {{ path }}</title>
  <style>
    table {
      width: 90%;
      margin: auto;
    }
    tr {
      border-bottom: 1px dotted grey;
    }
    table a {
      display: inline-block;
      padding: 0.2em;
      border: 1px dashed red;
    }
    .folders a {
      color: #000;
      font-weight: bold;''
    }
    .desc {
      font-size: 80%;
    }
  </style>
</head>
<body>
<h1><a href="../">../</a>{{ path }}</h1>
<table>
<thead>
<tr>
<td>Document</td><td>Date</td><td>Size</td>
</tr>
</thead>
<tbody class="folders">
{% for folder in dirs %}
  <tr>
    <td><a href="{{ folder.path }}/">{{ folder.name }}</a></td><td></td><td></td>
  </tr>
{% endfor %}
</tbody>
<tbody class="files">
{% for file in files %}
  <tr>
    <td><a href="{{ file.path }}">{{ file.name }}</a>{% if file.description %}<br/><span class="desc">{{ file.description}}</span>{%endif %}</td>
    <td>{{ file.mdate.strftime('%Y-%m-%d') }}</td>
    <td>{{ file.size }}</td>
  </tr>
{% endfor %}

</tbody>
</table>
</body>
</html>
